
.coverage.*
.coverage
.idea/
.ipynb_checkpoints/
__pycache__/
cache/
geo/ski/so/Cargo.lock
geo/ski/so/median
geo/ski/so/target/
mprofile_2023*.dat
vision/loadtxt/pythran_lib/build/
vision/loadtxt/pythran_lib/dist/
vision/loadtxt/pythran_lib/hello.egg-info/
vision/loadtxt/pythran_lib/hello/hello.cpp
vision/loadtxt/rust_lib/Cargo.lock
vision/loadtxt/rust_lib/target
.hypothesis/
