beartype
beautifulsoup4
bitarray
black[jupyter]
dask
datasets
evaluate
eyed3
fasteners
flake8
flask
flask-htmx
flask-restx
flask-sqlalchemy
geopandas
geopy
geoviews
glom
gpxpy
graphviz
gspread
gunicorn
gymnasium[classic-control]
html2text
huggingface-hub
hypothesis
imbalanced-learn
ipyleaflet
isort
jupyterlab
kaggle
linetimer
lxml
markdownify
matplotlib
maturin
mechanicalsoup
memory-profiler
mplcursors
mypy
netifaces
numbers-parser
numpy
oauth2client
opencv-python-headless
openml
openpyxl
osmnx
palettable
pandas
pandas-stubs
pdf2image
pdftotext
pillow
planegeometry
plotnine
polars
pre-commit
psutil
pyarrow
pyarrow-stubs
pyaudioanalysis
pydeck
pydub
pygame
pylint
pynisher
pypandoc
pyright
pyspark
pytesseract
pytest
pytest-cov
python-docx
python-levenshtein
python-magic
redis
reedsolo
requests-cache
requests-html
rouge-score
ruamel.yaml
ruff
scikit-learn
scrapy
seaborn
selenium
sortedcontainers
sortedcontainers-stubs
sqlacodegen-v2
sqlalchemy
sqlalchemy_mate
streamlit
streamlit-image-coordinates
swig
sympy
tabulate
typer
types-beautifulsoup4
types-openpyxl
types-pillow
types-python-dateutil
types-redis
types-requests
types-seaborn
types-tabulate
types-tqdm
unidecode
uszipcode
uv
watchdog
xlsx2csv
yahoofinancials
yfinance[nospam]
